{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load tz %}

{% block body_class %}
    search_filters_available team_messages_available
{% endblock body_class %}

{% block page_content %}

<div class="page-wrapper">
{# header #}
        <div class="logo-bar">
                <p class="logo-bar-title">Event Staff Scheduler</p>
            <div class="nav-btn-wrapper">
                {% if user.is_authenticated %}
                    <p class="logged-in-text">Logged in as {{ user.username }}</p>
                    <a href="{% url 'logout' %}">
                        <button class="options-btn-blue">Logout</button>
                    </a>
                {% endif %}
            </div>
        </div>
        <div id="navBar" class="nav-bar">
            <ul>
                <li class="nav-item"><a href="{% url 'event_list' %}">Schedule</a></li>
                <li class="nav-item"><a href="{% url 'event_planning' %}">Planning</a></li>
                <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
        {% for message in messages %}
            {% if message.tags == "warning" %}
                <div class="message-red-box fade-out">{{ message }}</div>
            {% else %}
                <div class="message-green-box fade-out">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <div class="options-bar">
            <div class="options-bar-section">
                <form method="post" action="{% url 'set_timezone' %}" class="options-bar-time-zone-form flex-centered">
                    <button class="options-btn-blue" type="submit">Set</button>
                    {% csrf_token %}
                    {{ user_profile_form.timezone|add_class:"schedule-search-input" }}
                </form>
                <!-- This button is inside of an <a> for style purposes only -->
                <a href="" onclick="return false;" class="flex-centered">
                    <button id="teamMessageDeliveryOpenBtn" class="options-btn-blue">Team Messages</button>
                </a>
            </div>
            <div class="options-bar-section">
                <form action="" id="eventSearchForm" method="GET" class="event-search-form flex-centered">
                <div class="flex-centered flex-wrap">
                    <div class="flex-centered">
                        <a class="flex-centered">
                            <button type="button" class="options-btn-blue" id="searchFilterButton">Filters</button>
                        </a>
                        <a class="flex-centered">
                            <button class="options-btn-blue" type="submit">Search</button>
                        </a>
                    </div>
                    <input class="schedule-search-input" type="search" name="title_search" placeholder="search event names"
                           value="{% if title_search %}{{ title_search }}{% else %}{% endif %}">
                </div>
                    <div class="flex-centered flex-wrap">
                        <div class="flex-left">
                            <label for="min_date" class="options-bar-input-label">From:</label>
                            <input class="schedule-search-input" type="date" name="min_date" id="min_date"
                                   value="{% if not min_date %}{% now 'Y-m-d' %}{% else %}{{ min_date }}{% endif %}" required>
                        </div>
                        <div class="flex-left">
                            <label for="max_date" class="options-bar-input-label">To:&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                            <input class="schedule-search-input" type="date" name="max_date" id="max_date"
                                   value="{% if not max_date %}{{ max_date_default_value }}{% else %}{{ max_date }}{% endif %}"
                                   required>
                        </div>
                    </div>
                    {% if event_list.count > 1 %}
                        <span class="schedule-search-input">{{ event_list.count }} events</span>
                    {% elif event_list.count == 1 %}
                        <span class="schedule-search-input">{{ event_list.count }} event</span>
                    {% else %}
                        <span class="schedule-search-input">0 events</span>
                    {% endif %}
                    <a href="{% url 'event_list' %}">
                        <button class="options-btn-blue" id="ScheduleClearSearchBtn" type="button">Clear Search</button>
                    </a>
{# search filter box #}
                    <div id="searchFilterBox" class="search-filter-box">
                        <div class="search-filter-form">
                            <div class="search-filter-section">
                                <span>Event Type</span>
                                <hr>
    {#                            Online Live Toggle#}
                                <div class="search-filter-toggle-wrapper">
                                    <label for="onlineLiveFilter" class="search-filter-toggle">
                                        <input type="checkbox" id="onlineLiveFilter" name="online_live_filter" value="online_live"
                                               {% if online_live_filter %}checked{% endif %}>
                                        <span class="sliding-switch"></span>
                                    </label>
                                    <div class="sliding-switch-text">Online - Live</div>
                                </div>
    {#                            Online PreRecorded Toggle #}
                                <div class="search-filter-toggle-wrapper">
                                    <label for="onlinePreRecordedFilter" class="search-filter-toggle">
                                        <input type="checkbox" id="onlinePreRecordedFilter" name="online_pre_recorded_filter" value="online_pre_recorded"
                                               {% if online_pre_recorded_filter %}checked{% endif %}>
                                        <span class="sliding-switch"></span>
                                    </label>
                                    <div class="sliding-switch-text">Online - Pre Recorded</div>
                                </div>
    {#                            Online Hybrid Toggle #}
                                <div class="search-filter-toggle-wrapper">
                                    <label for="onlineHybridFilter" class="search-filter-toggle">
                                        <input type="checkbox" id="onlineHybridFilter" name="online_hybrid_filter" value="online_hybrid"
                                               {% if online_hybrid_filter %}checked{% endif %}>
                                        <span class="sliding-switch"></span>
                                    </label>
                                    <div class="sliding-switch-text">Online - Hybrid</div>
                                </div>
    {#                            In Person Toggle#}
                                <div class="search-filter-toggle-wrapper">
                                    <label for="inPersonFilter" class="search-filter-toggle">
                                        <input type="checkbox" id="inPersonFilter" name="in_person_filter" value="in_person"
                                               {% if in_person_filter %}checked{% endif %}>
                                        <span class="sliding-switch"></span>
                                    </label>
                                    <div class="sliding-switch-text">In Person</div>
                                </div>
                            </div>
                            <div class="search-filter-section">
                                <span>Event Status</span>
                                <hr>
    {#                            Planning Toggle #}
                                <div class="search-filter-toggle-wrapper">
                                    <label for="planningFilter" class="search-filter-toggle">
                                        <input type="checkbox" id="planningFilter" name="planning_filter" value="planning"
                                               {% if planning_filter %}checked{% endif %}>
                                        <span class="sliding-switch"></span>
                                    </label>
                                    <div class="sliding-switch-text">Planning</div>
                                </div>
    {#                            Under Contract Toggle #}
                                <div class="search-filter-toggle-wrapper">
                                    <label for="underContractFilter" class="search-filter-toggle">
                                        <input type="checkbox" id="underContractFilter" name="under_contract_filter"
                                               value="under_contract"
                                               {% if under_contract_filter %}checked{% endif %}>
                                        <span class="sliding-switch"></span>
                                    </label>
                                    <div class="sliding-switch-text">Under Contract</div>
                                </div>
    {#                            Approved Toggle #}
                                <div class="search-filter-toggle-wrapper">
                                    <label for="approvedFilter" class="search-filter-toggle">
                                        <input type="checkbox" id="approvedFilter" name="approved_filter" value="approved"
                                               {% if approved_filter %}checked{% endif %}>
                                        <span class="sliding-switch"></span>
                                    </label>
                                    <div class="sliding-switch-text">Approved</div>
                                </div>
    {#                            Cancelled Toggle #}
                                <div class="search-filter-toggle-wrapper">
                                    <label for="cancelledFilter" class="search-filter-toggle">
                                        <input type="checkbox" id="cancelledFilter" name="cancelled_filter"
                                               value="cancelled"
                                               {% if cancelled_filter %}checked{% endif %}>
                                        <span class="sliding-switch"></span>
                                    </label>
                                    <div class="sliding-switch-text">Cancelled</div>
                                </div>
                                <hr>
                                <select class="schedule-search-input" name="released_restricted_filter"
                                        id="ReleasedRestrictedFilter">
                                    <option value="released_and_restricted">Released and Restricted</option>
                                    <option value="released" {% if released_restricted_filter == 'released' %}
                                            selected="selected"{% endif %}>Released
                                    </option>
                                    <option value="restricted" {% if released_restricted_filter == 'restricted' %}
                                            selected="selected"{% endif %}>Restricted
                                    </option>
                                </select>
                            </div>
                            <div class="search-filter-section">
                                <span>Team Members</span>
                                <hr>
                                {% for team_member in all_team_members %}
                                    <div class="team_member_name_filter">
                                        <input type="checkbox" class="team-member-name-filter-checkbox"
                                               name="{{ team_member.id }}" value="{{ team_member.id }}"
                                                {% for id in selected_team_members_for_filtering %}
                                                    {% if id == team_member.id %}
                                               checked
                                                    {% endif %}
                                                {% endfor %}>
                                        {{ team_member.first_name }}&nbsp{{ team_member.last_name }}
                                        <br/>
                                    </div>
                                {% endfor %}
                                <input type="checkbox" class="team-member-name-filter-checkbox"
                                       name="no_team_members_assigned_filter" value="True"
                                        {% if no_team_members_assigned_filter %}
                                       checked
                                        {% endif %}>
                                No Team Member Assigned
                            </div>
                        </div>
                        <div>
                            <button id="searchFilterCloseButton" class="options-btn-red" type="button">Close</button>
                            <button class="options-btn-blue" type="submit" form="eventSearchForm">Apply Filters</button>
                        </div>
                    </div>
{# end search filter box #}
                </form>
            </div>
        </div>
        <div id="teamMessageDeliveryBox" class="team-message-delivery-box">
            <u><b>Team Messages</b></u>
            <button id="teamMessageDeliveryCloseBtn" class="options-btn-red">close</button>
            <div class="team-message-delivery-section">
                <ul>
                    {% for team_message in all_team_messages %}
                        <li><b>{{ team_message.updated_at|date:'D m/d/y' }}: {{ team_message.message_title }}</b></li>
                        <li class="detail-box-item-field select">
                            {# link wrapped in div to make entire cell clickable #}
                            <div>
                                <a href="{% url 'team_message_detail' team_message.slug %}">{{ team_message.message }}</a>
                            </div>
                        </li>
                        <lt><br/></lt>
                    {% empty %}
                        <i>No Team Messages</i>
                    {% endfor %}
                </ul>
            </div>
        </div>
{# end header#}
    <div class="schedule-wrapper">
        <div class="schedule-table-box">
            <table class="schedule-table">
                <tbody>
                {% for event in event_list %}
                    <tr>
                        {% if 'Mon' in event.start_datetime|date:'D' %}
                            <td class="event-schedule-item alternating-color-1">
                                {{ event.start_datetime|date:'D m/d/y' }}
                            </td>
                        {% elif 'Tue' in event.start_datetime|date:'D' %}
                            <td class="event-schedule-item alternating-color-2">
                                {{ event.start_datetime|date:'D m/d/y' }}
                            </td>
                        {% elif 'Wed' in event.start_datetime|date:'D' %}
                            <td class="event-schedule-item alternating-color-3">
                                {{ event.start_datetime|date:'D m/d/y' }}
                            </td>
                        {% elif 'Thu' in event.start_datetime|date:'D' %}
                            <td class="event-schedule-item alternating-color-4">
                                {{ event.start_datetime|date:'D m/d/y' }}
                            </td>
                        {% elif 'Fri' in event.start_datetime|date:'D' %}
                            <td class="event-schedule-item alternating-color-5">
                                {{ event.start_datetime|date:'D m/d/y' }}
                            </td>
                        {% else %}
                            <td class="event-schedule-item">
                                {{ event.start_datetime|date:'D m/d/y' }}
                            </td>
                        {% endif %}
                        <td class="event-schedule-item-title event-schedule-item">
                            {% for title, usernames in per_event_assigned_team_members.items %}
                                {% if event.title == title %}
                                    {% if user.username in usernames %}
                                        <div><a href={% url 'event_update' event.slug %}>
                                            {{ event.title }}</a>
                                        </div>
                                    {% elif usernames == none %}
                                        <div>{{ event.title }}</div>
                                    {% else %}
                                        <div>{{ event.title }}</div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="event-schedule-item">
                            {{ event.start_datetime|localtime|time:'g:i a e' }} -
                            {{ event.end_datetime|localtime|time:'g:i a e' }}
                        </td>
                        {% if event.team_members.all %}
                            <td class="event-schedule-item">
                                {% for team_member in event.team_members.all %}
                                    {{ team_member.first_name.0 }}{{ team_member.last_name.0 }}
                                {% endfor %}
                            </td>
                            {% else %}
                            <td class="event-schedule-item event-schedule-warn-text">
                                <span class="">NO TEAM MEMBERS</span>
                            </td>
                        {% endif %}
                        <td class="event-schedule-item">
                            {{ event.get_event_type_display }}
                        </td>
                        {% if event.status == 'cancelled' %}
                            <td class="event-schedule-item event-schedule-warn-text">
                                <span>CANCELLED</span>
                            </td>
                        {% elif not event.status %}
                            <td class="event-schedule-item event-schedule-warn-text">
                                <i>status not specified</i>
                            </td>
                        {% else %}
                            <td class="event-schedule-item">
                                {{ event.get_status_display }}
                            </td>
                        {% endif %}
                        {% if not event.event_notes %}
                            <td class="event-schedule-item" style="background-color: transparent">
                                <i>no event notes</i>
                            </td>
                        {% else %}
                            <td class="event-schedule-item">
                                <div class="schedule-table-data">
                                    {{ event.event_notes }}
                                </div>
                            </td>
                        {% endif %}
                        {% for team_member in event.team_members.all %}
                            {% if user.username == team_member.username %}
                                {% if not event.team_member_notes %}
                                <td class="event-schedule-item" style="background-color: transparent">
                                    <i>no team member notes</i>
                                </td>
                                {% else %}
                                    <td class="event-schedule-item">
                                        <div class="schedule-table-data">
                                            {{ event.team_member_notes }}
                                        </div>
                                    </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% empty %}
                    <tr>
                        <td>
                            <em>No Events</em>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock page_content %}